.latest {
  width: 90%;
  max-width: 80rem;
  margin: var(--size-1) auto;
  margin-top: 0.5rem;
}

.latest h2 {
  font-size: var(--size-3);
  color: var(--color-grey-800);
  text-align: center;
}

@media (min-width: 768px) {
  .latest h2 {
    font-size: 3rem;
  }
}
