.post {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-grey-800);
  text-align: center;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  -moz-transform: scale(1.1); /* Firefox */
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -o-transform: scale(1.1); /* Opera */
  vertical-align: middle;
}

.post a {
  color: var(--color-grey-100);
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  border-radius: 20px;
}

.image img {
  object-fit: cover;
}

.content {
  padding: var(--size-4);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.content time {
  font-style: italic;
  color: var(--color-grey-300);
}

.content p {
  line-height: var(--size-6);
}
